body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 100%;
    height: 400px; /* Tamaño fijo para evitar crecimientos descontrolados */
    max-height: 400px; /* Limita la altura máxima */
    box-sizing: border-box;
}
